/* WEBDEVJEFF.US/CSS/MAIN.CSS with GRIDDY Media Queries */

/******** COLOR VALUES ********\

White   High: rgb(255,255,255); /* Hi Wht *
        Med:  rgb(247,247,247); /* Md Wht *
        Low:  rgb(204,204,204); /* Lo Wht *

Black   High: rgb( 64, 64, 64); /* Hi Blk *
        Med:  rgb( 18, 18, 18); /* Md Blk *
        Low:  rgb(  0,  0,  0); /* Lo Blk *

Red     High: rgb(255, 63, 71); /* Hi Red *
        Med:  rgb(173, 43, 48); /* Md Red *
        Low:  rgb(127, 32, 35); /* Lo Red *

Blue    High: rgb( 81, 94,255); /* Hi Blu *
        Med:  rgb( 52, 60,163); /* Md Blu *
        Low:  rgb( 41, 47,127); /* Lo Blu *

Green   High: rgb( 32,204,124); /* Hi Grn *
        Med:  rgb( 18,115, 70); /* Md Grn *
        Low:  rgb( 10, 64, 39); /* Lo Grn *

\****** END COLOR VALUES ******/


/**** STYLES FOR ALL SCREEN WIDTHS ****/

html {
  font-family: 'Open Sans', sans-serif;
  color: rgb( 64, 64, 64); /* Hi Blk */
  background-color: rgb(204,204,204); /* Lo Wht */
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(204,204,204); /* Lo Wht */
  position: relative;
  top: -9px;
}

h1,
h2 {
  font-family: 'Permanent Marker', 'Comic Sans MS', sans-serif;
  letter-spacing: 0.1rem;
}

h3,
h4,
h5,
h6 {
  font-family: 'Walter Turncoat', 'Comic Sans MS', sans-serif;
}

p {
  line-height: 1.6;
}

a:link,
a:visited {
  color: rgb( 18,115, 70); /* Md Grn */
  text-decoration: none;
}



a:hover, a:active {
  color: rgb( 32,204,124); /* Hi Grn */
  text-decoration: underline;
}


.container {
  margin: 0 auto;
  background-color: rgb(247,247,247); /* Md Wht */
}


.border-top {
  border-top: 1px solid rgb( 41, 47,127); /* Lo Blu */
}


.box-item {
  background-color: rgb(204,204,204); /* Lo Wht */
  color: rgb(  0,  0,  0); /* Lo Blk */
  border: 1px solid rgb(  0,  0,  0); /* Lo Blk */
  font-size: 0.8rem;
}

.main--head {
  font-size: 2.6rem;
  color: rgb( 52, 60,163); /* Md Blu */
  border-bottom: 2px solid rgb( 52, 60,163); /* Md Blu */
}

.section--head {
  color: rgb( 52, 60,163); /* Md Blu */
  font-size: 2.0rem;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

.section--subhead {
  font-family: 'Walter Turncoat', 'Comic Sans MS', sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
}

.aside--head {
  font-size: 1.6rem;
  padding-top: 0.75rem;
}

.aside--img {
  border: 1px solid rgb(  0,  0,  0); /* Lo Blk */
}


.hammer {
  font-family: 'Permanent Marker', 'Comic Sans MS', sans-serif;
  font-size: 2rem;
  color: rgb( 52, 60,163); /* Md Blu */
}

code,
.code {
  font-family: monospace, monospace;
  color: rgb(  0,  0,  0); /* Lo Blk */
}

p>code {
  font-size: 1.1em;
  line_height: 0.75em;
}

.code-block {
  list-style: none;
  padding: 1rem 1.2rem;
  margin: 1rem 0;
  line-height: 1.5rem;
  background-color: rgb(204,204,204); /* Lo Wht */
}

.code-indent {
  padding-left: 1.2em;
}

.code-comment {
  color: rgb( 127, 127, 127); /* Gray */
}

.blue-link:link,
.blue-link:visited {
  color: rgb( 52, 60,163); /* Md Blu */
  text-decoration: none;
}

.blue-link:hover,
.blue-link:active {
  color: rgb( 81, 94,255); /* Hi Blu */
  text-decoration: none;
}

.black-link:link,
.black-link:visited {
  color: rgb( 18, 18, 18); /* Md Blk */
  text-decoration: none;
}

.black-link:hover,
.black-link:active {
  color: rgb( 80, 80, 80); /* Hi Blk */
  text-decoration: none;
}

/** Masthead Styles **/

.masthead {
  background-color: rgb( 18, 18, 18); /* Md Blk */
  color: rgb(173, 43, 48); /* Md Red */
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.masthead--logo {
  font-size: 3.6rem;
}

.masthead--logo__link:link,
.masthead--logo__link:visited {
  color: rgb(173, 43, 48); /* Md Red */
}

.masthead--logo__link:hover,
.masthead--logo__link:active {
  color: rgb(255, 63, 71); /* Hi Red */
  text-decoration: none;
}

.masthead--subhead {
  font-family: 'Walter Turncoat', 'Comic Sans MS', sans-serif;
  font-size: 1.6rem;
  color: rgb( 81, 94,255); /* Hi Blu */
  float: left;
}

.masthead--nav {
  list-style: none;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.masthead--nav-item {
  display: inline-block;
  font-family: 'Walter Turncoat', 'Comic Sans MS', sans-serif;
  font-weight: bold;
  padding: 0 1rem;
  border-left: 2px solid rgb( 64, 64, 64); /* Hi Blk */
}

.masthead--nav-link:link,
.masthead--nav-link:visited {
  color: rgb( 18,115, 70); /* Md Grn */
  text-decoration: none;
}

.masthead--nav-link:hover,
.masthead--nav-link:active {
  color: rgb( 32,204,124); /* Hi Grn */
  text-decoration: underline;
}


/** Splash Panel Styles **/

.splash {
  background-color: rgb(255,255,255);
  background-image: url("../img/ph-hero.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 350px;
  height: 525px;

}

.splash--head {
  font-size: 2.6rem;
  padding-top: 5rem;
  color: rgb(173, 43, 48); /* Md Red */
  text-shadow: -3px -3px 2px rgb(255,255,255), 3px 3px 2px rgb(255,255,255);
  margin-top: 0;
}

.splash--text {
  font-family: 'Walter Turncoat', 'Comic Sans MS', sans-serif;
  font-size: 1.5rem;
  color: rgb( 52, 60,163); /* Md Blu */
  text-shadow: -2px -2px rgb(255,255,255), 2px 2px rgb(255,255,255);
}


/** Work Panel Styles **/

.work--head {
  font-size: 1.6rem;
  margin-bottom: 0;
}


/** Blog previews **/

.blog {

}



.blog--footer {
  font-family: 'Walter Turncoat', 'Comic Sans MS', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
}


/** Footer Styles **/

.footer {
  background-color: rgb( 52, 60,163); /* Md Blu */
  color: rgb(247,247,247); /* Md Wht */
}

.footer--text {
  font-size: 0.8rem;
}

.footer--link:link,
.footer--link:visited {
  color: rgb( 32,204,124); /* Hi Grn */
}

.footer--link:hover,
.footer--link:active {
  color: rgb(255,255,255); /* Hi Wht */
}




/**** SCREEN-WIDTH-DEPENDENT STYLES ****/

/* PHONE - fluid 320-400px; 1rem = 12px */
/* (Mobile-first: no media query required) */







/* TABLET - 680px; 1rem = 14px */
@media only screen and (min-width: 680px) {

.masthead--logo {
  margin-bottom: 0;
}



}


/* COMPUTER (small monitor) - 960px; 1rem = 16px */
@media only screen and (min-width: 960px) {





}


/* COMPUTER (desktop) - 1120px; 1rem = 19px */
@media only screen and (min-width: 1200px) {





}


/**** DEBUG BORDER ****/

.debug {
  border: 1px magenta solid;
}