.main--head__work {
  font-size: 2.6rem;
  color: rgb( 52, 60,163); /* Md Blu */
  float: left;
}

.main--header__work {
  border-bottom: 2px solid rgb( 52, 60,163); /* Md Blu */
}

.work {

}

.work--hammer {

}

.work--desc {
  font-size: 1.4rem;
  line-height: 1.2em;
  padding-left: 1.8rem;
  color: rgb( 52, 60,163); /* Md Blu */
}

.work--date {
  padding-left: 1.8rem;
}

.work--section-head {
  font-size: 1.6rem;
  color: rgb( 52, 60,163); /* Md Blu */
}


.work-post--nav {
  float: right;
}

.work-post--nav-arrow {
  position: relative;
  top: 0.25em;
  padding-left: 0.1em;
}

.work-post--nav-arrow-up {
  /* position: relative;
  top: 0.1em; */
  padding-left: 0.1em;
}
